.total{
    position: relative;
    top: 10vh;
    left: 20vw;
    width: 50vw;
    min-height: 65vh;
    padding-bottom: 30px;
    border: 4px solid #000000; 
    border-radius: 3vw;
    background-color: #dbdbdb;
}

.total h1 {
    margin: 30px 0 10px 0;
    text-align: center;
}
.total p {
    margin: 10px 20px;
}

.total ul {
    list-style-type: none;
    margin: 0 20px;
    font-size: larger;
}

.total ul li {
    padding-top: 30px;
}

.total ul li input {
    display: block;
    height: 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.error {
    display: block;
    color: #ffffff;
    background-color: #4b4b4b;
    border-radius: 5px;
    padding: 2px;
    font-size: smaller;
}

.submit {
    position: absolute;
    bottom: 35px;
    right: 35px;
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: large;
    width: 90px;
    height: 40px;
    border: 4px solid #4b4b4b;
    border-radius: 10px;
}

.submit:hover {
    background-color: #ffffff;
    color: #000000;
}